/*@media(min-width:600px){ 
    body{
        background-color: darkblue;
        color: white;
    }
}
    
    @media all and(max-width:600px){
    body{
        background-color:black;
        color:white;

    }
}
    */
    @media and(max-width:orientation)